[Desktop Entry]
Name=Screen Configuration
GenericName=Screen Configuration
Icon=computer
Exec=raindrop
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
